
.query-actions {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.query-actions > * {
  font-size: 22px;
  margin: 10px;
  box-shadow: 0px 0px 6px 0px;
  box-sizing: border-box;
}

.allUsers-render {
  display: flex;  
  text-align: left;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 5px;
}

.allUsers-userName {
  padding-right: 5px;
}

.createUser-main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.createUser-main > * {
  font-size: 22px;
}

.createUser-input {
  
}

.createUser-submit {
}

.error {
  color: rgb(230, 71, 71);
  font-weight: bold;
}

.ok {
  color:rgb(67, 161, 67);
  font-weight: bold;
}